.category-menu .container {
    padding: 10px;
    margin-left: 3px;
    margin-bottom: 10px;
    font-size: 14px;
}

.category-menu li {
    cursor: pointer;
}

.category-menu li:hover:not(.click) {
    background-color: whitesmoke;
}

.category-menu .click {
    background-color: antiquewhite;
}