.category-menu .container {
    margin-top: 20px;
    margin-left: 22px;
    margin-bottom: 10px;
}

.category-menu li {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 89px;
    background-color: whitesmoke;
    border-radius: 20px;
    margin-right: 10px;
}

.category-menu li:hover:not(.click) {
    background-color: antiquewhite;
}

.category-menu .click {
    background-color: rgb(250, 203, 142);
}

.category-menu p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
}