.favorite-body .container {
    width: 95%;
}

.col-md-6 {
    padding-top: 10px;
    padding-bottom: 8px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.col-md-6:hover{
    box-shadow: 0px 0px 25px 3px gainsboro;
    background-color: transparent;
}

.col-md-6 img {
    border: 1px solid gainsboro;
    border-radius: 8px;
    width: 100px;
    height: 100px;
}

.likeproduct .product-title {
    font-size: 13px;
    margin: 0;
    font-weight: 300;
    margin-right: 18px;
}

.likeproduct .product-price {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    margin-top: 5px;
}

.likeproduct .icons {
    background-color: transparent;
    margin-top: 2px;
    margin-left: 5px;
}

.info{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-left: 10px;
}

.btnX img{
    width: 15px;
    height: 15px;
    margin-left: 56px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
}

.info img:hover{
    background-color: gainsboro;
}

.goModal{
    display: flex;
    flex-direction: row;
}

.goModal .btnX{
    width: 15px;
    height: 15px;
}

.clickarea{
    display: flex;
    flex-direction: row;
    width: 375px;
}