.favorite-body .container {
    width: 95%;
}

.col-md-4 {
    padding-top: 10px;
    padding-bottom: 8px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.col-md-4:hover{
    box-shadow: 0px 0px 25px 3px gainsboro;
    background-color: transparent;
}

.col-md-4 img {
    border: 1px solid gainsboro;
    border-radius: 8px;
    width: 95%;
    height: 95%;
    margin: auto;
}

.likeproduct .product-title {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 13px;
    margin: 0;
    margin-top: 8px;
    height: 15%;
    margin-left: 10px;
    font-weight: 300;
}

.likeproduct .product-price {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    margin-top: 5px;
}

.likeproduct .icons {
    background-color: transparent;
    margin-top: 2px;
    margin-left: 5px;
}

.info{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}