header {
    /* position: fixed; */
    /* z-index: 999; */
    top: 0;
    left: 0;
    right: 0;
    /* height: 60px; */
    display: flex;
    align-items: center;
    background-color: none;
    transition: 0.5s all ease;
}

.header--logo {
    height: 60px;
    margin-left: 20px;
    margin-right: 60px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.header--logo img {
    height: 55px;
}

.header--user {
    position: absolute;
    margin-left: 94%;
    height: 35px;
}

.header--user img {
    border-radius: 50%;
    height: 100%;
}

.header--logout {
    position: absolute;
    margin-left: 90%;
    height: 20px;
}

.header--logout button{
    background-color: #ffffff;
    border: 3px solid white;
    border-radius: 15px;
    cursor: pointer;
}

a {
    padding: 10px;
}