header {
    /* position: fixed; */
    /* z-index: 999; */
    top: 0;
    left: 0;
    right: 0;
    /* height: 60px; */
    display: flex;
    align-items: center;
    background-color: none;
    transition: 0.5s all ease;
}

.header--user {
    position: absolute;
    margin-left: 94%;
    height: 35px;
}

.header--user img {
    border-radius: 50%;
    height: 100%;
}

.header--logout {
    position: absolute;
    margin-left: 90%;
    height: 20px;
}

.header--logout {
    cursor: pointer;
}

a {
    font-size: 15px;
    padding: 10px;
}

.search-window {
    height: 65px;
    margin-left: 30px;
    display: flex;
    align-items: center;
}

#search {
    width: 400px;
    height: 40px;
    border: none;
    background-color: #F5F5F5;
    border-radius: 10px;
    padding-top: 4px;
    padding-bottom: 3px;
    padding-left: 10px;
}

#search-icon {
    padding: 4px;
}