header {
    /* position: fixed; */
    /* z-index: 999; */
    top: 0;
    left: 0;
    right: 0;
    /* height: 60px; */
    display: flex;
    align-items: center;
    background-color: none;
    transition: 0.5s all ease;
}

.header--user {
    position: absolute;
    right: 2.3%;
    height: 35px;
}

.header--user img {
    border-radius: 50%;
    height: 100%;
}

.header--user .name {
    font-size: 15px;
    margin-right: 5px;
}

.search-window {
    height: 65px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.search-window .search-auto-hide {
    display: none;
}

#searchInput {
    position: relative;
    width: 375px;
    height: 40px;
    border: none;
    background-color: #F5F5F5;
    border-radius: 10px 0 0 10px;
    padding-left: 13px;
}

#searchInput:focus {
    outline: none;
    
}

#searchBtn {
    border: none;
    background-color: #F5F5F5;
    border-radius: 0 10px 10px 0;
    margin-bottom: 2px;
}

.search-window i {
    cursor: pointer;
    padding: 12px;
}