.box {
    float: right;
    position: relative;
    justify-content:space-between;
    border-radius: 20px;
    width: 1400px;
    height: 820px;
    background-color: rgb(255, 255, 255);
  }

  .scroll-box {
    margin-top: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
    border: solid black 1px;
    width: 1000px;
    height: 750px;
  }

.scroll-box::-webkit-scrollbar {
    display: none;
  }
