.box {
    float: right;
    position: relative;
    justify-content:space-between;
    border-radius: 20px;
    margin: 10px;
    left: 10px;
    width: 1400px;
    height: 820px;
    background-color: rgb(255, 255, 255);
  }