.home-body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.home-box {
  float: right;
  position: relative;
  justify-content: space-between;
  border-radius: 20px;
  margin-top: 20px;
  width: 1400px;
  height: 820px;
  background-color: rgb(255, 255, 255);
}

.home-box .horizontal-box {
  display: flex;
  flex-direction: row;
}

.home-box .scroll-box {
  overflow-x: hidden;
  overflow-y: scroll;
  width: 1115px;
  height: 735px;
}

.home-box .scroll-box::-webkit-scrollbar {
  display: none;
}

.home-box .top-rank-products {
  margin-top: 30px;
}

.home-box .nonScroll-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 14px;
}

.home-box .nonScroll-box #topBtn {
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-top: 20px;
  margin-right: 200px;
}