.menu p{
    color: white;
    padding: 10px;
    font-weight: 200;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.menu p:hover{
    color: rgb(194, 191, 191);
    background-color: rgb(255, 202, 87);
}

.menu{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
}

.sidebar{
    height: 100%;
    display: flex;
    float: left;
    position: relative;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}