.profile-box {
    margin-top: 20px;
    float: right;
    position: relative;
    border-radius: 20px;
    width: 1400px;
    height: 820px;
    background-color: rgb(255, 255, 255);
}

.profile{
    margin-left: 30px;
    width: 500px;
    height: 720px;
    border: none;
    border-radius: 30px;
    background-color: #F5F5F5;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.pic{
    margin-top: 100px;
    float: left;
    width: 670px;
    height: 360px;
}

.content-pf{
    flex-direction: row;
}

.content-pf h2{
    justify-content: flex-start;
    font-size: 40px;
    margin-top: 10px;
    margin-left: 50px;
    color: rgb(129, 129, 129);
}

.content-pf img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.information {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 600px;
}

.detail{
    text-align: left;
    font-size: 20px;
}

.detail button{
    width: 120px;
    height: 50px;
    border-radius: 20px;
    margin-right: 10px;
    margin-top: 20px;
}

.detailbox{
    width: 300px;
    height: 200px;
}