.profile-box {
    margin-top: 20px;
    float: right;
    position: relative;
    border-radius: 20px;
    width: 1400px;
    height: 820px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
}

.profile{
    margin-left: 40px;
    margin-top: 70px;
    width: 450px;
    height: 700px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 2px rgba(112, 112, 112, 0.07), 
                0 2px 4px rgba(112, 112, 112, 0.07), 
                0 4px 8px rgba(112, 112, 112, 0.07), 
                0 8px 16px rgba(112, 112, 112, 0.07),
                0 16px 32px rgba(112, 112, 112, 0.07), 
                0 32px 64px rgba(112, 112, 112, 0.07);
}

.pic{
    margin-top: 70px;
    width: 670px;
    height: 360px;
}

.content-pf{
    flex-direction: row;
}

.content-pf .color{
    position: absolute;
    background-color: rgb(255, 206, 163);
    width: 1400px;
    height: 320px;
    z-index: -1;
    border-radius: 20px 20px 0px 0px;
}

.content-pf img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.user {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 450px;
    height: 600px;
}

.detail{
    text-align: left;
    font-size: 20px;
}

.detail button{
    width: 120px;
    height: 50px;
    border-radius: 20px;
    margin-right: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.detailbox{
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
}

.information{
    display: flex;
    flex-direction: row;
}

.like{
    margin-left: 30px;
    margin-top: 70px;
    width: 840px;
    height: 700px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px rgba(112, 112, 112, 0.07), 
                0 2px 4px rgba(112, 112, 112, 0.07), 
                0 4px 8px rgba(112, 112, 112, 0.07), 
                0 8px 16px rgba(112, 112, 112, 0.07),
                0 16px 32px rgba(112, 112, 112, 0.07), 
                0 32px 64px rgba(112, 112, 112, 0.07);
}

.like p{
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 40px;
}

.like .horizontal-box {
   display: flex;
   flex-direction: row;
   height: 650px;
}
  
.like .scroll-box {
   overflow-x: hidden;
   overflow-y: scroll;
   width: 840px;
   height: 695px;
}
  
.like .scroll-box::-webkit-scrollbar {
  display: none;
}