.profile-box {
    float: right;
    position: relative;
    border-radius: 20px;
    width: 1400px;
    height: 820px;
    z-index: 1;
}

.profile{
    margin-left: 60px;
    margin-top: 70px;
    width: 400px;
    height: 750px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 2px rgba(112, 112, 112, 0.07), 
                0 2px 4px rgba(112, 112, 112, 0.07), 
                0 4px 8px rgba(112, 112, 112, 0.07), 
                0 8px 16px rgba(112, 112, 112, 0.07),
                0 16px 32px rgba(112, 112, 112, 0.07), 
                0 32px 64px rgba(112, 112, 112, 0.07);
}

.pic{
    margin-top: 70px;
    width: 350px;
    height: 250px;
}

.content-pf{
    flex-direction: row;
}

.content-pf .color{
    position: absolute;
    background-color: #ffd0a781;
    width: 1550px;
    height: 348px;
    z-index: -1;
    border-radius: 20px 20px 0px 0px;
}

.content-pf img{
    width: 230px;
    border-radius: 10px;
}

.user {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 600px;
}

.detail{
    margin: 20px;
    font-size: 17px;
}

.detail p {
    text-align: left;
}

.detail button{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.detailbox{
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
}

.information{
    display: flex;
    flex-direction: row;
}

.like{
    margin-left: 40px;
    margin-top: 70px;
    width: 990px;
    height: 750px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px rgba(112, 112, 112, 0.07), 
                0 2px 4px rgba(112, 112, 112, 0.07), 
                0 4px 8px rgba(112, 112, 112, 0.07), 
                0 8px 16px rgba(112, 112, 112, 0.07),
                0 16px 32px rgba(112, 112, 112, 0.07), 
                0 32px 64px rgba(112, 112, 112, 0.07);
}

.like p{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 25px;
    margin-bottom: 0px;
}

.like .scroll-box {
   overflow-x: hidden;
   overflow-y: scroll;
   margin-bottom: 10px;
   height: 700px;
}
  
.like .scroll-box::-webkit-scrollbar {
  display: none;
}