.profile-body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.profile-box {
    float: right;
    position: relative;
    justify-content:space-between;
    border-radius: 20px;
    width: 1550px;
    height: 900px;
    background-color: rgb(255, 255, 255);
  }

  profile-body .scroll-box {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 1050px;
  }

  profile-body .scroll-box::-webkit-scrollbar {
    display: none;
  }
