.lasted {
  position: absolute;
  width: 240px;
  height: 670px;
  margin-top: 110px;
  margin-left: 1200px;
  background-color: #F5F5F5;
  border-radius: 15px;
  text-align: center;
  padding: 15px;
}

.lasted h5 {
  margin-bottom: 20px;
}

.lasted img {
  width: 70%;
  border-radius: 25%;
  margin: auto;
  margin-top: 10px;
}

.lasted .recentContents p {
  height: 40px;
  margin-top: 10px;
  font-size: 11px;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  background-color: aqua;
}

.recentContents .row {
  border-radius: 10%;
  background-color: white;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 20px;
}