.search-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.search-box {
    float: right;
    position: relative;
    justify-content: space-between;
    border-radius: 20px;
    margin-top: 20px;
    width: 1400px;
    height: 820px;
    background-color: rgb(255, 255, 255);
}

.search-box .scroll-box {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 1115px;
    height: 735px;
}

.search-box .scroll-box::-webkit-scrollbar {
    display: none;
}